<!DOCTYPE html>
<html ng-app="testApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title id="title"></title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/angular/angular.js"></script>
	<script type="text/javascript" src="/core.js"></script>
</head>
<body>
	<div class="container">
		<div class="row" ng-controller="LoginCtrl">
			<div class="col-xs-6 col-md-4">
				<h1>Test Log in</h1>

				<input type="text" placeholder="Username" ng-model="userName">
				<input type="text" placeholder="Password" ng-model="passWord">
				<button class="btn btn-default"
						ng-click="loginUser(userName, passWord)">
						Log in
				</button>
				
			</div>
			<div class="col-xs-6 col-md-4">
				<h3 ng-bind="loginResult"></h3>
			</div>
		</div>

		<div class="row" ng-controller="ProductCtrl as product">
			<div class="col-xs-6 col-md-4">
				<h1>Check Code</h1>

				<input 	type="text" placeholder="place value" ng-model="productCode">
				<button class="btn btn-default"
						ng-click="checkCode(productCode)">
						Search
				</button>
				
			</div>
			<div class="col-xs-6 col-md-4">
				<h3 ng-bind="productRes"></h3>
			</div>
		</div>

	</div>
</body>
</html>